DEBUG=False
LOG_LEVEL=INFO

MSSQL_SA_PASSWORD=YourStr0ng!Passw0rd
MSSQL_VERSION=2019
MSSQL_EDITION=Developer
MSSQL_PORT=1433

VM1_HOST=192.168.70.129
VM2_HOST=192.168.70.130
VM1_USER=devops
VM2_USER=devops

SSH_PORT=22
SSH_KEY_PATH=/c/Users/mozy/.ssh/id_rsa
SSH_PASSWORD=
SSH_TIMEOUT=30

ANSIBLE_INVENTORY=./ansible/inventory/hosts.ini
ANSIBLE_PLAYBOOK_DIR=./ansible/playbooks
ANSIBLE_CMD=ansible-playbook
ANSIBLE_PRIVATE_KEY_FILE=/c/Users/mozy/.ssh/id_rsa
ANSIBLE_VERBOSE=1

BACKUP_DIR=/backup
BACKUP_STRIPES=10
LOCAL_BACKUP_DIR=./backups/vm1_striped
DATA_DIR=/var/opt/mssql/data
MSSQL_LOG_DIR=/var/opt/mssql/log

API_TIMEOUT=3600
